.city-card {
  width: 25rem;
  margin: 20px 40px;
  height: 100%;
  box-shadow: 1rem;
}

.city-card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.city-card-body img {
  width: 10rem;
}

.city-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card-header {
  text-align: center;
  display: flex;
  justify-content: space-between;
}